<div class="panel panel-default">
      <div class="panel-heading">All Customer's info</div>
      <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item"><b>Name:</b> {{docs.name}} <br></div>
            <div class="list-group-item"><b>ID:</b> {{docs.id}} <br></div>
            <div class="list-group-item"><b>Link:</b> {{docs.link}} <br></div>
    <!--
            <div class="list-group-item"><b>Google Spreadsheet</b> {{docs.spreadsheet}} </a></div>
            <div class="list-group-item"><b>AWS Billing:</b> {{docs.awsbilling}} </a></div>
-->
        </div>
      </div>
</div>

<div class="panel panel-default">
      <div class="panel-heading">Google Spreadsheet </div>
      <div class="panel-body">
        <iframe class="spreadsheet" src="{{docs.spreadsheet}}"></iframe>
      </div>
</div>
